body {
    background-color: rgb(141, 201, 44);
}

ul
{
    list-style: none;
    margin: 5px;
    padding: 0px;
}
ul a:link, ul a:visited
{
    display: block;
    color: rgb(120,80,160);
    text-decoration: none;
}
ul a:hover
{
    color: rgb(210,20,80);
}

.skladnia {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    white-space: nowrap;
    display: flex;
}